{% extends 'base.html' %}

{% block title %}
<title>Plant Detail</title>
{% endblock %}

{% block content %}
    <h1>Plant Details</h1>
    <!-- NOTE: DTL (Django Template Language) is not python, although similar -->
    <div class="row">
        <div class="col s6">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">{{ plant.name }}</span>
                  
                    <p>Description: {{ plant.description }}</p>
                    {% if plant.lifespan > 0 %}
                    <p>Lifespan: {{ plant.lifespan }} years</p>
                    {% else %}
                    <p>Lifespan: Unknown</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
