<html>
    <body>
        
{% extends 'base.html' %}
{% block title %}
    {% if object %}
        <title>Update {{object.name}}</title>


    {% else %}
        <title>Add a Pollinator</title>
{% endif %}
{% endblock %}

{% block content %}
<!-- New if/else block -->
{% if object %}
<h1>Edit <span class="teal-text">{{object.name}}</span></h1>
{% else %}
<h1>Add pollinator</h1>
{% endif %}

<form action="" method="POST">
    {% csrf_token %}
    <table>
        {{form.as_table}}
    </table>
    
    <input type="submit" value="Submit" class="btn red" >

</form>
{% endblock %}
    </body>
</html>

