{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    <title>Plant Collector</title>
    {% endblock %}
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- materialize jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- <script defer src ="{% static 'js/script.js' %}"></script> adds javascript--> 
</head>
<body class="">
    <!-- materialize css classes -->
    <header class="navbar-fixed ">
        <nav>
            <div class="nav-wrapper purple accent-1">
                <a class ='left brand-logo' href="/">Plant Collector</a>
                <ul class="right">
                    <li >
                        <a href=#>About</a>
                    </li>
                    <li>
                        <a href=# >View All Plants</a>
                    </li>
                    <li>
                        <a href=# >Add a Plant</a>
                    </li>
                    <li>
                        <a href=# >View All Nutrients</a>
                    </li>
                    <li>
                        <a href=#>Add a Nutrient</a>
                    </li>

                
                </ul>
            </div>
        </nav>
    </header>
    <main class="container">
        {% block content %}
        {% endblock %}
    </main>
    <footer class="page-footer">
        <p>Copyright &copy; All Rights Reserved Plant Collector 2023</p>
    </footer>
</body>
</html>