{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    <title>Plant Collector</title>
    {% endblock %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
    <!-- tailwindcss -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.15/tailwind.min.css"
        integrity="sha512-2mKP1I+GmkDvYzKk+zIfhTVt8BwpeP+pVtNOMTTnKZV7a3e3YFGV7pcn5F/MS5KQ2wE5SBBptuJZ0jKxbksu8A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body class="">
    <header class="navbar-fixed">
        <nav class="bg-purple-700">
            <div class="container mx-auto px-4 py-3">
                <div class="flex items-center justify-between">
                    <a class="text-white font-bold text-xl" href="/">Plant Collector</a>
                    <ul class="flex">
                        <li class="ml-4">
                            <a href="{% url 'about' %}" class="text-white hover:text-gray-200">About</a>
                        </li>
                        {% if user.is_authenticated %}
                        <li class="ml-4">
                            <a href="{% url 'plants_index' %}" class="text-white hover:text-gray-200">View All Plants</a>
                        </li>
                        <li class="ml-4">
                            <a href="{% url 'plants_create' %}" class="text-white hover:text-gray-200">Add a Plant</a>
                        </li>
                        <li class="ml-4">
                            <a href="{% url 'pollinators_index' %}" class="text-white hover:text-gray-200">View All Pollinators</a>
                        </li>
                        <li class="ml-4">
                            <a href="{% url 'pollinators_create' %}" class="text-white hover:text-gray-200">Add a Pollinator</a>
                        </li>
                        <li class="ml-4">
                            <a href="{% url 'logout' %}" class="text-white hover:text-gray-200">Logout</a>
                        </li>
                        {% else %}
                        <li class="ml-4">
                            <a href="{% url 'login' %}" class="text-white hover:text-gray-200">Login</a>
                        </li>
                        <li class="ml-4">
                            <a href="{% url 'signup' %}" class="text-white hover:text-gray-200">Sign Up</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main class="container mx-auto my-8">
        {% block content %}
        {% endblock %}
    </main>
    <footer class="bg-purple-700 py-3">
        <div class="container mx-auto text-center text-white font-bold">
            <p>&copy; All Rights Reserved Plant Collector 2023</
