{% extends 'base.html' %}

{% block content %}
<div class="container mx-auto my-8">
  <h1 class="text-3xl font-bold mb-4 text-center text-purple-700">Home Page for Plant Collector</h1>
  <p class="text-lg text-center text-gray-500 mb-8">This is from the template</p>

  <div class="flex justify-center">
    <div class="bg-purple-700 h-10 w-10 rounded-full mr-2 animate-bounce"></div>
    <div class="bg-purple-700 h-10 w-10 rounded-full mr-2 animate-bounce"></div>
    <div class="bg-purple-700 h-10 w-10 rounded-full animate-bounce"></div>
  </div>
</div>
{% endblock %}
