@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';



body {
    display: flex;
    flex-direction: column;
    /* body will take up all the height of the page */
    min-height: 100vh;
}

main {
    flex-grow: 1;
    /* assigns first priority to flex-grow "main" first */
}